@font-face {
    font-family: "Friz Quadrata Regular";
    src: url('../fonts/Friz Quadrata TT Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/FontsFree-Net-Circular-Std-Book.ttf') format('truetype');
}

body{
    background: url("../assets/hud-images/background_placeholder.png");
}

html{
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

body{
    margin: 0;
    }

#hud-shop-panel{
    position: fixed;
    bottom: 0;
    height: 148px;
    left: 50%;
    transform: translate(-50%);
}


#rerollimage{
    bottom: 3%;
    position: fixed;
    width: 166px;
    height: 58px;
    left: -10%;
    z-index: 102;
}

#levelimage{
    bottom: 47%;
    position: fixed;
    width: 166px;
    height: 58px;
    left: -10%;
    z-index: 102;
}

#roll{
    border:none;
    height: 0px;
    width: 0px;
}

#shop-div{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.shop-display {
    position: relative;
    bottom: 5px;
    display: flex;
    left: 10.7%;
}

.champion-panel{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 2px;
}

.champion-panel:hover{
    cursor: pointer;
}

#champ-border{

    height: 130px;
    width: 175px;
    z-index: 1;
}
#panel_empty{
    height: 130px;
    width: 175px;
    z-index: 1;
    filter: brightness(0.5);
}

#champ-art{
    z-index: 0;
    position: absolute;
    height: 100px;
    width: 170px;
}

#champ-name{
    font-family: "Friz Quadrata Regular";
    font-size: 14px;
    left: 6%;
    bottom: 5%;
    z-index: 1;
    position: absolute;
    color: white;
}

#champion-cost{
    left: 89%;
    bottom: 4%;
    z-index: 1;
    position: absolute;
    color: white;
}

#champ-trait{

    font-family: "Circular Std", sans-serif;
    font-size: 14px;
    line-height: 22.5px;
    left: 7%;
    bottom: 25%;
    z-index: 1;
    position: absolute;
    color: white;
    letter-spacing: 0.3px;
}

#coin-img{
    left: 81%;
    bottom: 8%;
    z-index: 1;
    position: absolute;
    height: 8px;
    width: 8px;
}

#trait-img{
    background: url(../assets/hud-images/trait-bg.png);
    background-position: 0px -2px;
    background-size: 85%;
    background-repeat: no-repeat;
    margin-right: 7px;
    height: 15px;
    width: 15px;
    padding: 0px 6px 5px 5px;
}

#trait-bg{

    z-index: 1;
    left: 105%;
    bottom: 45%;
    position: absolute;
    height: 20px;
    width: 20px;
}

#tft-hud-coinlayout{
    left: 43%;
    bottom: 94%;
    position: absolute;
    z-index: 0;
}

#hud-coin{
    left: 50%;
    bottom: 105%;
    position: absolute;
    z-index: 0;
}

#CurrentGold{
    font-family: "Friz Quadrata Regular";
    left: 42%;
    bottom: 101%;
    position: absolute;
    z-index: 0;
    text-align: center;
    border: none;
    background: none;
    color: white;
    font-size: 18px;
}