@font-face {
    font-family: "Friz Quadrata Regular";
    src: url('../fonts/Friz Quadrata TT Regular.ttf') format('truetype');
}

html{
    height: 1920px;
    width: 1080px;
    overflow: hidden;
}

body{
    margin: 0;
    }

#hud-shop-panel{
    position: fixed;
    bottom: 0;
    height: 148px;
    left: 50%;
    transform: translate(-50%);
}


#rerollimage{
    bottom: 3%;
    position: fixed;
    width: 166px;
    height: 58px;
    left: -10%;
    z-index: 102;
}

#roll{
    border:none;
    height: 0px;
    width: 0px;
}

#shop-div{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.shop-display {
    position: relative;
    bottom: 5px;
    display: flex;
    left: 10.7%;
}

.champion-panel{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 2px;
}

#champ-border{
    height: 130px;
    width: 175px;
    z-index: 1;
}

#champ-art{
    z-index: 0;
    position: absolute;
    height: 100px;
    width: 170px;
}

#champ-name{
    font-family: "Friz Quadrata Regular";
    letter-spacing: 0.5px;
    font-size: 14px;
    left: 6%;
    bottom: 5%;
    z-index: 1;
    position: absolute;
    color: white;
}

#champion-cost{
    left: 89%;
    bottom: 4%;
    z-index: 1;
    position: absolute;
    color: white;
}

#champ-trait{
    font-family: Calibri;
    font-size: 14px;
    line-height: 22.5px;
    left: 16%;
    bottom: 25%;
    z-index: 1;
    position: absolute;
    color: white;
    letter-spacing: 0.3px;
}

#coin-img{
    left: 81%;
    bottom: 8%;
    z-index: 1;
    position: absolute;
    height: 8px;
    width: 8px;
}